<% if(success && success.length !== 0) { %>
	<div class="flashMessage successFlash">
		<%= success %>
	</div>
<% } %>

<% if(error && error.length !== 0) { %>
	<div class="flashMessage errorFlash">
		<%= error %>
	</div>
<% } %>