<nav id="header">
	<div class="left">
		<a href="/"><img src="/icons/forums.png">  <span class="main">StuFor</span></a>
	</div>

	<div class="searchBox">
		<form action="/search" method="GET">
			<input type="text" name="q" placeholder="Search Topics...">
			<button type="submit">Search</button>
		</form>
	</div>

	<div class="right">
		<a href="/">Home</a>
		<a href="/search">Search</a>
		<a href="/#recent">Recent</a>
		<a href="/#popular">Popular</a>
		<a href="#" id="categoriesNav">Categories</a>
		<% if(user !== undefined) { %>
			<a href="/profile/<%= user.username %>"><img src="/icons/user.png"></a>
		<% } else { %>
			<a href="/signup" class="signupBtn">Sign Up</a>
			<a href="/login" class="loginBtn">Log In</a>
		<% } %>
	</div>
</nav>

<% if(user) { %>
<div class="catsNav">
<% } else { %>
<div class="catsNav" style="right: 19%;">
<% } %>
	<li><a href="/category/General%20Discussion">General Discussion</a></li>
	<li><a href="/category/Resources">Resources</a></li>
	<li><a href="/category/Doubt%20Solving">Doubt Solving</a></li>
	<li><a href="/category/Consultation">Consultation</a></li>
	<li><a href="/category/Miscellaneous">Miscellaneous</a></li>
	<li><a href="/category/Support">Support</a></li>
</div>

<script src="/js/navbar.js"></script>