<nav id="header">
	<div class="left">
		<a href="/"><img src="/icons/forums.png"> <span class="main">StuFor</span></a>
	</div>

	<div class="searchBox">
		<form action="/search" method="GET">
			<input type="text" name="q" placeholder="Search Topics...">
			<button type="submit">Search</button>
		</form>
	</div>

	<div class="right">
		<a href="/">Home</a>
		<a href="#">Search</a>
		<a href="#">Recent</a>
		<a href="#">Popular</a>
		<a href="#">Categories</a>
		<a href="userProfile.html"><img src="/icons/user.png"></a>
	</div>
</nav>