<% layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/newThread.css">

<div class="container">
	<div class="formCont">
		<h1>Editing your post</h1>
		<form action="/thread/<%= tID %>/post/<%= post._id %>?_method=PATCH" class="needs-validation" method="POST" novalidate>
			<textarea name="postContent" cols="70" rows="15" placeholder="Your Post Here"><%= post.postContent %></textarea>
			<button>Update</button>
		</form>
	</div>
</div>

<script src="/js/newThreadValidation.js"></script>