<% layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/error.css">

<div class="container">
	<div class="main">
		<div class="error">
			<h1>Error <%= status %></h1>
			<div><%= message %></div>
		</div>
		<img src="/icons/error404.gif" alt="">
	</div>
</div>