*{
	margin: 0;
	padding: 0;
	outline: none;
}

input:focus{
	border: 0.01em solid aliceblue;
}

a{
	text-decoration: none;
	color: black;
}

#header{
	padding: 1em 1em 1em 1em;
	background-color: white;
	border-bottom: 0.01em solid #CCC;
	display: flex;
	justify-content: space-evenly;
}

.searchBox{
	justify-self: center;
	align-self: center;
}

.searchBox form{
	display: flex;
}

.searchBox input{
	padding: 0.75em 3em 0.5em 0.75em;
	margin-left: 0;
	border: 0.01em solid #CCC;
}

.searchBox button{
	font-family: 'Roboto Condensed', sans-serif;
	border: 0.01em solid #CCC;
	border-left: 0;
	padding: 0.5em 0.75em;
}

.searchBox input::placeholder{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}

div.left a img{
	height: 1em;
	width: 1em;
	margin-right: 0.25em;
}

div.left{
	justify-self: flex-start;
	display: flex;
	align-items: center;
}

div.left a{
	display: flex;
	align-items: center;
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

div.right a{
	font-size: 1.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-family: 'Roboto Condensed', sans-serif;
	transition: border-bottom 0.1s;
}

div.right a:hover{
	border-bottom: 2px solid black;
}


div.right a img{
	height: 1em;
	width: 1em;
}

div.right{
	display: flex;
	justify-self: flex-end;
	justify-content: space-around;
	align-items: center;
}

.catsNav{
	position: fixed;
	right: 10%;
	top: 7.5%;
	background-color: white;
	display: none;
}

.catsNav li{
	border: 0.01em solid #CCC;
	border-top: 0;
	list-style-type: none;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 1em;
	margin: 0;
	text-align: center;
}

.catsNav li:first-child{
	border-top: 0.01em solid #CCC;
}

.catsNav li:hover{
	background-color: #EEE;
}

.flashMessage{
	padding: 1em;
	margin: 1em 2em;
	font-family: 'Roboto Condensed', sans-serif;
	border: 1px solid black;
}

.successFlash{
	background-color: #D1E7DD;
	border-color: #0F5132;
	color: #0F5132;
}