.container{
	padding: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container h2{
	align-self: flex-start;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	margin: 0 0 0.5em 0;
	font-weight: 800;
	border-bottom: 0.01em solid #CCC;
	width: 100%;
}

.container p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	color: #999;
	text-align: center;
	width: 75%;
}

.container form{
	align-self: flex-start;
}

.container form input, .container form button{
	padding: 0.75em;
	margin: 0.5em;
	font-family: 'Roboto Condensed', sans-serif;
	border: 0.01em solid #CCC;
	outline: none;
}

.container form button{
	background-color: white;
	transition: background-color 0.2s ease;
}

.threads{
	align-self: stretch;
	display: flex;
	flex-direction: column-reverse;
	font-family: 'Roboto Condensed', sans-serif;
}

.searchResults, .popular{
	width: 100%;
	padding: 0.5em;
	flex-grow: 1;
}

.popular{
	padding-bottom: 4em;
	border-bottom: 0.01em solid #CCC;
}

.resThreads, .popThreads{
	list-style-type: none;
}

.searchResults h1, .popular h1{
	font-size: 1.5em;
	border-bottom: 0.01em solid #CCC;
	padding: 2em 0.5em 0.25em 0;
}

.resThreads li a:hover, .popThreads li a:hover{
	text-decoration: underline;
}

.resThreads li, .popThreads li{
	display: flex;
	padding: 1em;
	align-items: center;
	background-color: rgba(238, 238, 238, 0.5);
}

.threadLink{
	margin-right: auto;
	font-size: 1.2em;
	width: 33%;
	word-break: break-all;
}

.threadInfo{
	align-items: center;
	display: flex;
	margin-left: auto;
	flex-direction: column;
}

.postCount{
	font-size: 1.75em;
	font-family: 'Roboto', sans-serif;
}

.resThreads li:nth-of-type(2n), .popThreads li:nth-of-type(2n){
	background-color: rgba(255, 255, 255, 0.5);
}

.resThreads li:first-child, .popThreads li:first-child{
	margin-top: 0.5em;
}

.userInfo{
	justify-self: flex-end;
	flex-grow: 0.5;
	margin-left: auto;
	flex-direction: column;
	align-items: flex-start;
}

.container form button:hover{
	background-color: #DDD;
}

@media (max-width: 425px) {
	.timeCreated{
		display: none;
	}

	.threadLink{
		width: 33%;
	}
}