.container{
	padding: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.browseCat{
	display: flex;
	flex-direction: column;
}

.browseCat h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.catList{
	padding: 2em;
	display: flex;
	flex-wrap: wrap;
}

.category{
	display: flex;
	flex-direction: column;
	padding: 2em;
	align-items: center;
	border: 0.01em solid #CCC;
	margin: 10px;
	width: 100px;
	height: 110px;
	justify-content: center;
	transition: background-color 0.2s;
	font-family: 'Roboto Condensed', sans-serif;
}

.category:hover{
	background-color: #EEE
}

.category div{
	text-align: center;
}

.category img{
	margin-bottom: 20px;
	width: 64px;
	height: 64px;
}

.threads{
	align-self: stretch;
	display: flex;
	flex-direction: column-reverse;
	font-family: 'Roboto Condensed', sans-serif;
}

.recent, .popular{
	width: 100%;
	padding: 0.5em;
	flex-grow: 1;
}

.popular{
	padding-bottom: 4em;
	border-bottom: 0.01em solid #CCC;
}

.recentThreads, .popThreads{
	list-style-type: none;
}

.recent h1, .popular h1{
	font-size: 1.5em;
	padding: 2em 0.5em 0.25em 0;
}

.recentThreads li a:hover, .popThreads li a:hover{
	text-decoration: underline;
}

.recentThreads li, .popThreads li{
	display: flex;
	padding: 1em;
	align-items: center;
	background-color: #EEE;
}

.threadLink{
	flex-grow: 1;
	font-size: 1.2em;
	width: 33%;
}

.threadInfo{
	margin-left: auto;
	align-items: center;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.postCount{
	font-size: 1.75em;
	font-family: 'Roboto', sans-serif;
}

.recentThreads li:nth-of-type(2n), .popThreads li:nth-of-type(2n){
	background-color: white;
}

.recentThreads li:first-child, .popThreads li:first-child{
	margin-top: 0.5em;
}

.userInfo{
	justify-self: flex-end;
	flex-grow: 0.5;
}